# Import Data Set

In [1]:
import pandas as pd
import numpy as np

train = pd.read_csv('train.csv')

In [2]:
# target = pd.DataFrame(train['TARGET'])
# target.mean()
# data = train.drop('TARGET', axis=1)

# from sklearn.cross_validation import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.2, random_state=42)

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline

# Exploring Data Set

In [24]:
mean = pd.DataFrame(train.TARGET.value_counts())
mean['Percentage'] = 100*mean['TARGET']/mean['TARGET'].sum()
mean

#Only about 4% of customers are unhappy!

   TARGET  Percentage
0   73012   96.043147
1    3008    3.956853

In [19]:
train.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0